.d-flex{
  display: flex !important;
}
//Header
.nav-center{
    text-align: center;
    margin:auto;
    color: black;

  }
.bar-color{
    display: flex;
    background-color: white;
}
.logo{
  cursor: pointer;
  // height: 30px;
  object-fit: cover;
}
.footer{
  display: flex;
  position: relative;
  align-items: center;
  background-color: orange;

}
.logo-text{
  font-weight: bold;
  font-size: 40px;
  color: white;
}
.btn-dropdown{
  font-weight: 500;
  font-size: 14px;
  color: black;
  &:hover{
    color: orange;
  }
  // .q-btn__content .q-icon {
  //   display: none;
  // }
}
.btn-menu{
  font-weight: 500;
  font-size: 14px;
  color: black;
  &:hover{
    color: orange;
  }
}

//Footer
.footer-right{
  font-weight: bold;
  margin-right: 20px;
  float: right !important;
}
.footer-text{
  font-size: 20px;
  color: white;
}
.icon-size{
  font-size: 50px;
  cursor: pointer;
}

.special-title {
  display: flex;
  // width: fit-content;
  align-items: center;
  justify-content: center;
  padding: 10px 80px;
  clip-path: polygon(100% 0, 93% 50%, 100% 100%, 0 100%, 7% 50%, 0% 0%);
  font-size: 37px;
  font-weight: bold;
  height: 70px;
  background-color: #ffad15;
  color: white;
}
